* {
    margin: 0px;
    padding: 0px;
}

#octocat {
    position: fixed;
    display: inline-block;
    width: 32px;
}

p {
    display: block;
    width: 400px;
    margin: 50px 450px;
    font: 2em, Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

#top {
    display: block;
    height: 50px;
    background-color: black;
    color: whitesmoke;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

#menu {
    display: block;
    position: relative;
    left: 400px;
}

#home {
    display: inline-block;
    padding: 0px 10px;
}

#about {
    display: inline-block;
    padding: 0px 10px;
}

#gallery {
    display: inline-block;
    padding: 0px 10px;
}

#contacts {
    display: inline-block;
    padding: 0px 10px;
}

a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:hover {
    color: #290
}

a:active {
    color: #100;
}

a:visited {
    color: #fff;
}